<div class="container-fluid">
    <div class="row">
        <div class="offset-2 col-sm-8">
            <h3 id="blog-title" style="margin: 20px auto">高效工作法</h3>
            <div id="blog-content">
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        hljs.initHighlightingOnLoad();

        var href = window.location.href;
        var url = new URL(href);
        var query = url.search;
        var fileName = url.searchParams.get("fileName");
        if (fileName){

            $("#blog-title").text( fileName.replace("md","").replace("html","") )

        }

        $.ajax({
            url: urls.cat + query,
            success:function (res) {
                console.log(res)
                var data = res.data;
                var md = window.markdownit({
                    highlight: function (str, lang) {
                        if (lang && hljs.getLanguage(lang)) {
                            try {
                                return '<pre class="hljs"><code>' +
                                    hljs.highlight(lang, str, true).value +
                                    '</code></pre>';
                            } catch (__) {
                            }
                        }

                        return '<pre class="hljs"><code>' + md.utils.escapeHtml(str) + '</code></pre>';
                    }
                });

                $("#blog-content").html(md.render(data));
            }

        })


    })
</script>